.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  padding: 1em;
}

/* footer {
  background-color: #282c34;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
} */